/* Custom icons for specific folders */

/* https://forum.obsidian.md/t/add-emojis-to-folder-titles-in-explorer-without-renaming-folders/22702 */



div[data-path="Inbox"] .nav-folder-title-content::before
{
  content: "📥 ";
}

div[data-path="Utilities"] .nav-folder-title-content::before
{
  content: "⚙️ ";
}

div[data-path="Gateways"] .nav-folder-title-content::before
{
  content: "🧭 ";
}

div[data-path="Topics"] .nav-folder-title-content::before
{
  content: "🗂️ ";
}


div[data-path="Concepts"] .nav-folder-title-content::before
{
  content: "💎 ";
}
 

